body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

p {
    color: #828282;;
}

.highlight {
    color: #FBA24F;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    border: 1px solid red;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: white;
    padding: 14px 22px;
    border-radius: 100px;
    background-image: linear-gradient(80deg, #FBA24F,  #FF1E1E);
}